* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#introduction h1:nth-child(1) {
  color: rgba(33,33,33 ,1);
  font-size: 7em;
  margin-top: 5%;
  line-height: .9em;
}

#introduction h1:nth-child(2) {
  color: rgba(255,255,255,.7);
  font-size: 4vw;
  letter-spacing: 5px;
}

#introduction h1:nth-child(3) {
  color: rgba(255,255,255,.5);
  font-size: 4vw;
  letter-spacing: .1em;
}

#introduction h1:nth-child(4) {
  color: rgba(255,255,255,.3);
  font-size: 4vw;
  letter-spacing: .1em;
}

#introduction {
  background: rgba(33,150,243 ,1);
  min-height: 100%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#introduction h1 {
  font-size: 20px;
}

#hireme {
  text-align: center;
}

#hireme button {
  padding: 20px 40px;
  margin-top: 5%;
  border-radius: 10px;
  background: rgba(33,150,243 ,1);
}

#hireme button a {
  text-decoration: none;
  color: #fff;
}

#aboutme {
  background-color: #212121;
  color: rgba(255,255,255,.7);
  height: 100vh;
}

#aboutme img {
  display:block;
  margin: 0 auto;
  width: 12em;
  height: 28%;
  border-radius: 50%;
  border: 5px solid rgba(66,66,66 ,1);
  margin-top: 10%;
  margin-bottom: 5%;
  animation-name: blink-blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

#aboutme p {
  padding: 15px;
}

#socialid {
  text-align: center;
  margin-top: 10%;
}

.social {
  padding: 10px;
  margin: 5px;
  border: 5px solid rgba(255,255,255 ,.7);
  border-radius: 50%;
}

#socialid a {
  text-decoration: none;
  color: rgba(33,33,33 ,1);
}

/*#socialid a:hover, a:visited {
  text-decoration: none;
}*/

.fa-facebook {
  padding: 10px 20px;

}





@keyframes blink-blink {
  0%,100% {
    border-color: : rgba(33,150,243 ,.5);
  }
  50% {
    border-color: rgba(33,150,243 ,1)
  }
}
