* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#introduction h1:nth-child(1) {
  color: rgba(33,33,33 ,1);
  font-size: 10vw;
  margin-top: 5%;
}

#introduction h1:nth-child(2) {
  color: rgba(255,255,255,.7);
  font-size: 4vw;
  letter-spacing: 5px;
}

#introduction h1:nth-child(3) {
  color: rgba(255,255,255,.5);
  font-size: 4vw;
  letter-spacing: .1em;
}

#introduction h1:nth-child(4) {
  color: rgba(255,255,255,.3);
  font-size: 4vw;
  letter-spacing: .1em;
}

#introduction {
  background: rgba(33,150,243 ,1);
  min-height: 100%;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#introduction h1 {
  font-size: 20px;
}

#hireme {
  text-align: center;
}

#hireme button {
  padding: 20px 40px;
  margin-top: 5%;
  border-radius: 10px;
}

#aboutme {
  background-color: #212121;
}

#aboutme img {
  display:block;
  margin: 0 auto;
  width: 40%;
  height: 25%;
  border-radius: 50%;
  border: 5px solid rgba(66,66,66 ,1);
  margin-top: 50px;
  animation-name: blink-blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;

}

@keyframes blink-blink {
  0%,100% {
    border-color: : rgba(33,150,243 ,.5);
  }
  50% {
    border-color: rgba(33,150,243 ,1)
  }
}
